@font-face {
    font-family: robot;
    src: url(/asset/font/Roboto-Regular.ttf)
}

.container {
    font-family: robot;
}
.header {
    top: 0%;
    left: 0%;
    font-size: 25px;
    height: 8%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    padding-top: 10px;
    z-index: 1000;
}
.header span {
    margin-left: 23%;
}
.header button {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 6px;
    background-color: rgb(228, 228, 228);
    border-radius: 50%;
    margin-bottom: 5px;
    margin-left: 10px;
}

.blank {
    height: 50px;
}
.blank2 {
    height: 120px;
}

.wrapper-item {
    margin-top: 15px;
    border-radius: 10px;
    border: solid rgb(189, 189, 189) 1px;
    display: flex;
    justify-content: space-between;
}
.wrapper-address {
    margin-top: 15px;
    border-radius: 10px;
    border: solid rgb(189, 189, 189) 1px;
    display: flex;
}
.title-desc {
    margin: 10px;
}
.desc-address {
    margin-top: 15px;
    font-size: 12px;
}
.photo-address {
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(228, 228, 228);
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 50%;
}
.address {
    margin-left: 20px;
}
.detail {
    margin-left: 20px;
    opacity: 0.5;
}
.edit {
    position: absolute;
    margin-top: 20px;
    margin-left: 87%;
}
.photo {
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.name {
    margin-top: 30px;
    margin-left: 10px;
    font-size: 13px;
}

.color {
    margin-top: 10px;
    margin-left: 10px;
    height: 12px;
    width: 12px;
    background-color: violet;
    border-radius: 50%;
}
.color span {
    display: flex;
    font-size: 12px;
    margin-left: 15px;
}
.price {
    margin-left: 10px;
    font-size: 12px;
    margin-top: 10px;
}
.footer2{
    position: fixed;
    width: 100%;
    height: 55px;
    background-color: white;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border-top: solid 0.5px gray;    z-index: 1000;
}
.checkout {
    width: 97%;
    height: 80%;
    background-color: black;
    margin: 5px;
    border-radius: 10px;
}
.checkout span {
    color: white;
    font-size: 16px;
    padding-left: 40px;
    padding-right: 40px;
}
.function {
    margin-top: 3px;
    margin-right: 10px;
}
.delete {
    margin-top: 4px;
    margin-left: 95px;
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    padding-left: 4px;
}
.quantity {
    margin-left: 50px;
    margin-top: 68px;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
}
.quantity button {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.quantity span {
    font-size: 12px;
}