p {
    text-wrap: wrap;
    width: auto;
}

.product-image {
    display: flex;
    flex-direction: column;
}

.back {
    position: absolute;
    top: 5%;
    left: 5%;
    background-color: rgb(240, 240, 240);
    padding: 8px;
    border-radius: 20px;
    z-index: 1;
}

/* SLIDESHOW IMAGE */

.slider {
  width: 370px;
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slides::-webkit-scrollbar {
  background: none;
}

.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 370px;
  height: 370px;
  border-radius: 10px;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    transition: 0.5s;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}

.mySlides2{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  background-color: lightgray;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: black;
  width: 20px;
  border-radius: 5px;
}

.dott {
    position: absolute;
    left: 43%;
    bottom: 10px;
}

.name-product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.name-product button{
    position: absolute;
    right: 5%;
}

.reviews {
    display: flex;
    flex-direction: row;
    font-size: x-small;
    margin-top: 5px;
    margin-bottom: 5px;
}

.sold {
    display: flex;
    border-radius: 10px;
    padding: 0 10px 0 10px;
    background-color: rgb(240, 240, 240);
    margin-right: 10px;
    align-items: center;
}

.reviews button {
    display: flex;
    padding: 3px;
    font-size: x-small;
    text-align: center;
    align-items: center;
}

.rating {
    padding-left: 3px;
    padding-right: 5px;
}

.price-qty {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.qty {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.quantity {
    margin-left: 10px;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}
.quantity button {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.quantity span {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.highlighter {
    width: 100%;
    height: 2px;
    background-color: rgb(240, 240, 240);
    margin-top: 15px;
    margin-bottom: 15px;
}

.details {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.option {
    display: flex;
    flex-direction: row;
}

select {
    border-radius: 10px;
    width: 100%;
    height: 40px;

}

.size {
    width: 50%;
    padding-right: 5px;
}

.color {
    width: 50%;
}

.related {
    padding-bottom: 25%;
}

.product{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.love {
    position: absolute;
    margin-top: -160px;
    margin-left: 140px;
    transition: 0.5s;
}

.name-prod{
    padding-top: 5px;
}

.rating {
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.item {
    margin-right: 20px;
}

.footer-product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    bottom: -1%;
    left: 0;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    height: 10%;
    align-items: center;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2), 5px 5px 5px 5px rgba(0, 0, 0, 0.19);
}

.buy {
    margin-top: -15px;
    margin-left: 5%;
    width: 40%;
    height: 50%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.add-cart {
    margin-top: -15px;
    background-color: black;
    margin-right: 5%;
    width: 40%;
    height: 50%;
    border: 1px solid black;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
}
