@font-face {
    font-family: inter;
    src: url(sset/font/Roboto-Regular.ttf)
}

.container {
    font-family: inter;
}

button {
    transition: ease;
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 5px;
}

button:hover{
    opacity: 0.5;
}

.title-product {
    margin-top: 5%;
    font-size: 180%;
    text-align: center;
}

.search-column {
    margin-top: 3%;
    margin-left: 3%;
    font-family: inter;
    font-size: 25px;
    width: 80%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #7a7a7a;
    background: #FFF;
    display: flex;
    align-items: center; 
    padding-left: 2%;
    padding-top: 1%;
}
#search {
    font-size: 25px;
    border-style: none;
    width: 80%;
    outline-style: none;
}
.input-field {
    flex-grow: 1;
    display: flex;
    align-items: center; 
    border-style: none;
}

.logo-search {
    opacity: 0.5;
}
.sort {
    position: relative;
    margin-right: -70px;
}

.wrapper-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offers{
    display: flex;
    justify-content: space-between;
}
.love {
    position: absolute;
    margin-top: -160px;
    margin-left: 140px;
}
.category{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rating {
    justify-content: space-between;
    margin-left: 5px;
}
.rating span{
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5px;
    opacity: 0.5;
}
.category button {
    border-radius: 5px;
    background-color: lightgrey;
}

.category-prod {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.category1 {
    display: flex;
    justify-content: space-between;
}

.popular-category {
    font-size: 50px;
    overflow: auto;
    display: flex;
}

.popular-category button {
    font-size: 20px;
    margin: 10px;
    margin-top: 5%;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid;
    border-radius: 5px;
    text-wrap: nowrap;
}

.title{
    font-family: inter;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.product-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.product{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.item {
    margin-right: 20px;
}

.title2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.title3{
    padding: 10px;
    display: flex;
    flex-direction: row;
    overflow: auto;
}
 

.footer{
    position: fixed;
    width: 100%;
    height: 40px;
    background-color: white;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding-top: 10px;
}

.product-wrapper span {
    margin-left: 10px;
}
